@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
  
  body {
    background-color: #010A1A;
  }

  main {
    @apply min-h-screen
  }
}

@layer components {
  .container {
    @apply w-full max-w-[85rem] mx-auto px-4
  }

  .btn {
    @apply bg-white text-black rounded-lg font-semibold hover:bg-gray-200 transition duration-200 outline-none
  }
}