@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    background-image: url("/img/Home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  main {
    @apply min-h-screen
  }
}

@layer components {
  .container {
    @apply w-full max-w-[85rem] mx-auto
  }

  .btn {
    @apply bg-white text-black rounded-xl font-semibold hover:bg-gray-200 transition duration-200 text-sm
  }
}